@charset "UTF-8";

*{
   font-family: 'Gowun Dodum', sans-serif;
}

body {margin: 10px;}
.where {
  display: block;
  margin: 25px 15px;
  font-size: 11px;
  color: #000;
  text-decoration: none;
  font-family: verdana;
  font-style: italic;
} 

.filebox input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}

.filebox label {
  display: inline-block;
  padding: .5em .75em;
  color: #999;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
}

/* named upload */
.filebox .upload-name {
  display: inline-block;
  padding: .5em .75em;
  font-size: inherit;
  font-family: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #f5f5f5;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
}

/* imaged preview */
.filebox .upload-display {
  margin-bottom: 5px;
}

@media(min-width: 768px) {
  .filebox .upload-display {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 0;
  }
}

.filebox .upload-thumb-wrap {
  display: inline-block;
  width: 54px;
  padding: 2px;
  vertical-align: middle;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.filebox .upload-display img {
  display: block;
  max-width: 100%;
  width: 100% \9;
  height: auto;
}

.filebox.bs3-primary label {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}


/* 리스트들 박스 */
#cbox{
   height: 50px;   
   margin-bottom: 15px;
   border: 1px solid #e3e3e3;
   border-radius: 3px;
   background-color: #FFFFFF;
   padding: 15px 10px 15px 20px;
   box-shadow: 2px 3px 5px #999;
   font-family: 'Gowun Dodum', sans-serif;
   font-size: 16px;
}

#dbox{
   text-align: center;
   padding: 20px;
   font-size: 18px;
}

.modal-body{
   text-align: center;
}

.modal-body-m{
   position: relative;
   padding: 15px;
}

/* 리스트 내용 모달 */
.m-view{
   margin-top: 20px;
   font-size: 18px;
   text-decoration: underline;
}

.m-view2{
   margin-top: 20px;
   font-size: 18px;
   text-decoration: underline;
}

/* 성적기준 내용  */
.mbox{
   width:80%; 
   border-radius: 10px;
   border: 1px solid;
}

/* 성적기준 내용  */
.mbox2{
   width:80%; 
   height:300px;
   text-align: left; 
   border-radius: 10px;
   border: 1px solid;
   margin-bottom: 15px;

}

/* 수업리스트 박스 */
.well{   
   width: 1100px;
   height: 800px;
   margin-left: 150px;
   padding: 40px 150px 25px 150px;
}

/* 수업리스트 박스2 */
.well-lg{
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 6px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
}

/* 타이틀-수업리스트 */
h1{
   margin-top: 30px;
   margin-bottom: 40px;
   margin-left: 580px;
   font-family: 'Gowun Dodum', sans-serif;
   font-size: 50px;
}

h4{
   font-size: 20px;
}

p{
   margin:0px;
   margin-top: 12px;
   font-size: 15px;
}

.modal-body2{
   text-align: center;
}